<div id="searchIngredfieldMain" class="ingredBar searchbar form-group col-lg-8 col-sm-offset-2">
    <%= form_tag(ingred_search_path, :method => "get", :id => "searchByDrinkMain", :class => "drinkInputForm", :autocomplete => :off) do %>
      <input type="text" placeholder="Search by drink name" class="biginput form-control input-lg " name="searchBarIngred" id="autocompleteIngredMain" autofocus style="text-align: center; "required/  >
    <% end %>
</div>

<div id="searchIngredsDiv" name="searchIngredsDiv">
  <%= form_tag(ingred_search_path, :method => "get", :id => "searchIngreds", :class => "searchIngreds", :autocomplete => :off) do %>
  <% end %>

</div>
