  <body style="height:100%;width:100%; background-color:black" >
<div class="jumbotron vertical-centers" style="background-image: url('/assets/aboutusbg.jpg'); min-height: 100%; min-height: 100vh;">
<div class="container-fluid" style="margin-left:20px;">
    <p><img  src="/assets/aboutustitle.png" ></p>
    <br></br>
    <br></br>
    <div><p style="font-size:25px;">Mixbook, by CMPT-276 Group 13</p></div>
    <div>
      <br></br>
      <br></br>
  <p>  Braden Emerson </p>
  <p>  Rafael Pena</p>
  <p>  Kevin Chung</p>
  <p>  Sen Lin</p>
  <p>  Yongzhe Le</p>
</div>
  <footer class="footer">
    <div>Copyright &copy; 2016 - Mixbook</div>
  </footer>
  </div>
  </div>
</body>
