<body style="height:100%;width:100%; "> <!-- overflow:hidden; to remove scrolllbar problems -->
    <div class="jumbotron vertical-center" style="background-image: url('assets/backgroundpicture1.jpg'); min-height: 100%; min-height: 100vh; display: flex;  align-items: center; overflow:hidden; /">
      <div class = "container-fluid">
        <div class="row">
          <div class ="logo">
            <p style="font-size:50px; text-align: center;"> <%= image_tag( 'logo2.png', :style => "border: solid; border-color:white;width:500px;") %></p>
          </div>

          <div id="searchDrinkfieldMain" class="searchbar form-group col-lg-8 col-sm-offset-2">
              <%= form_tag(drink_search_path, :method => "get", :id => "searchByDrinkMain", :class => "drinkInputForm", :autocomplete => :off) do %>
                <input type="text" placeholder="Search by drink name" class="biginput form-control input-lg " name="searchBarDrink" id="autocompleteDrinkMain" autofocus style="text-align: center; "required/  >
              <% end %>
            <!-- @end #searchfield -->
          </div>
        </div>

        <br></br>
        <h2 style =
          "text-align:center;
          background-color:black;
          color:white; border-color:white;
          border-style:solid;
          border-width:2px">
          Popular Recipes
        </h2>
        <br></br>
        <% @publishes = sort_by_popular_drinks %>
        <table>
          <tr>
            <% @publishes.first(5).each do |publish| %>
                <td><%= link_to publish.name, publish %></td>
                <td><%= image_tag (publish.image.blank? ? "no-image.jpg" : publish.image.thumb.url), size: "200x200", alt: "Image not found." %></td>
            <% end %>
          </tr>
        </table>

      </div>
  </div>
</body>
