<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div id="searchDrinkfieldMain" class="searchbar form-group col-lg-5">
    <%= form_tag(drink_search_path, :method => "get", :id => "searchByDrinkMain") do %>
      <input type="text" placeholder="Search by drink name" class="biginput form-control input-lg" name="searchBarDrink" id="autocompleteDrinkMain">
      <%= submit_tag 'Search' , style: "width:80%" %>
    <% end %>
  <!-- @end #searchfield -->
</div>
