<head>
  <title>Welcome!</title>
</head>
<body style="background-color:black;">
<div class="jumbotron vertical-centers" style="background-image: url('assets/justloginbg.jpg'); min-height: 100%; min-height: 100vh;">
<div class="container-fluid">
  <h1><img alt="Image" src="/assets/justlogintitle.png" /> </h1>
  <!--<div id="random"></div> -->

  <button class="btn" type="button" onclick="showblock()" id="showbutton" style="color:black">Random Drink Suggestion</button>

  <div id="randomblock">
  <!-- <h1><%= @rannum %></h1> -->
    <br>
    <table style="width=80%">
      <tr>
        <td><div id="drinkImage">
          <!--<img class="drinkPicture" alt="No image found", height="200px", width="200px"> -->
        </div></td>
        <td style="padding-left: 10px;">
          <div id="drinkName" class ="display" ></div>
          <div id="drinkID" class ="display"></div>

          <br>
          <div id="ingredient1" class ="display"></div>
          <div id="ingredient2" class ="display"></div>
          <div id="ingredient3" class ="display"></div>
          <div id="ingredient4" class ="display"></div>
          <div id="ingredient5" class ="display"></div>
          <div id="ingredient6" class ="display"></div>
          <div id="ingredient7" class ="display"></div>
          <div id="ingredient8" class ="display"></div>
          <div id="ingredient9" class ="display"></div>
          <div id="ingredient10" class ="display"></div>
          <div id="ingredient11" class ="display"></div>
          <div id="ingredient12" class ="display"></div>
          <div id="ingredient13" class ="display"></div>
          <div id="ingredient14" class ="display"></div>
          <div id="ingredient15" class ="display"></div>
          <br>
          <p id="smalltag">Instructions:</p>
          <br>
          <div id="instructions" class="display"> </div>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
</body>
