

<h1 style="Color: white">Welcome to MixBook </h1>
<div id="random"></div>

<!-- <h1><%= @rannum %></h1> -->
<div id="drinkimage">
  <img class="drinkPicture" alt="No image found", height="200px", width="200px">
</div>
<div id="drinkName" class ="display" ></div>
<div id="drinkID" class ="display"></div>
<div id="ingredient1" class ="display"></div>
<div id="ingredient2" class ="display"></div>
<div id="ingredient3" class ="display"></div>
<div id="ingredient4" class ="display"></div>
<div id="ingredient5" class ="display"></div>
<div id="ingredient6" class ="display"></div>
<div id="ingredient7" class ="display"></div>
<div id="ingredient8" class ="display"></div>
<div id="ingredient9" class ="display"></div>
<div id="ingredient10" class ="display"></div>
<div id="ingredient11" class ="display"></div>
<div id="ingredient12" class ="display"></div>
<div id="ingredient13" class ="display"></div>
<div id="ingredient14" class ="display"></div>
<div id="ingredient15" class ="display"></div>
