<div class="jumbotron vertical-centers" style="background-image: url('/assets/publishbg.jpg'); min-height: 100%; min-height: 100vh;">
<div class="container-fluid" style="margin-left:20px;">
  <p><img alt="Image" src="/assets/edittitle.png" > </p>
  <%= render 'form', publish: @publish %>
  <%= link_to 'Show', @publish,{:style=>'color:#FFFFFF;'} %> |
  <%= link_to 'Back', publishes_path,{:style=>'color:#FFFFFF;'} %>
</div>
</div>
