.drinkImage {
  float: left;
  vertical-align: top;
  padding-right: 20px;
}
.drinkDetails {
  padding-right: 10px;
}
.ingredients {
  font-size: 14px;
}
.instructions {
  font-size: 16px;
  clear: left;
  padding: 10px;
}
