.drinkImage {
  float: left;
  vertical-align: top;
  padding-right: 20px;
}
.drinkDetails {
  padding-right: 10px;
}
.ingredients {
  font-size: 20px;
}
.instructions {
  font-size: 20px;
  clear: left;
  padding: 10px;
  width:600px;
}

.searchResults {
  clear: both;
}
.result {

}
.drinkImage {
  min-width: 200px;
  min-height: 200px;
}
.drinkImageSmall {
  min-width: 150px;
  min-height: 150px;
}
.drinkName {
  color: white;
}
.searchResultsName {
  font-size: 16px;
}
