h1{
  font-size: 52px;
}

.container-fluid{
  margin-left: 10px;
}
#drinkimage {
  float: left;


  height: 200px;
  width: 200px;
}


td{
   vertical-align: top;
   
}

#randomblock{
  display:none;
}
