// Place all the styles related to the Publishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.drinkImage {
  float: left;
  vertical-align: top;
  padding-right: 20px;
}
textarea{
    width: 400px;
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
}
#inputfield{
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
}
.drinkDetails {
  padding-right: 10px;
}
.ingredients {
  font-size: 14px;
}
.instructions {
  font-size: 16px;
  clear: left;
  padding: 10px;
}
.pageLinks {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.searchResults {
  clear: both;
}
.result {

}
.drinkImage {
  min-width: 200px;
  min-height: 200px;
}
.drinkImageSmall {
  min-width: 150px;
  min-height: 150px;
}
.drinkName {
  color: white;
}
.searchResultsName {
  font-size: 16px;
}
.biodisplay{
  width:400px;
  height:80px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
}
.ingredisplay{
  width:400px;
  height:px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
}
