// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p, h1, li, span, label {
  color:white;
}

.form-control{
  width: 10%;
}

.submitButton {
  color:black;
  margin: 12px;
  margin-top: 13px;
}
#randomblock{
  width: 600px;
}
.display{
  color:white;
}
.populardrinkname{
  color:white;
  font-size: 30px;
  width: 200px;
}
